@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    font-family:Raleway,sans-serif;
    font-size:14px;
    line-height:1.6;
    color:#636b6f;
    background: url('gandalf_hd.gif') no-repeat center center fixed;
    background-size: cover;
}

.countdown {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 2em;
    position: absolute;
    top: 50%;
    margin-top: -5%;
}

.clock {
    width: auto;
    display: inline-block;
    -moz-transform: scale(0.5)
}

footer {
    background: #eee;
    color: #333;
}

footer a {
    color: #333;
    font-weight: bold;
}

@media only screen and (max-width: 710px) { .clock{ zoom: 0.9; } }
@media only screen and (max-width: 610px) { .clock{ zoom: 0.6; } }
@media only screen and (max-width: 450px) { .clock{ zoom: 0.5; } }
@media only screen and (max-width: 380px) { .clock{ zoom: 0.4; } }
@media only screen and (max-width: 350px) { .clock{ zoom: 0.3; } }
